@import 'semantic-ui';

.chatbox {
  height: 450px;
}

#login_header {
  margin-top: 30px;
}

#messages {
  height: 15em;
  overflow: auto;
}

.input {
  button {
    display: none;
  }
}

a:link
{
    color:#FFFFFF;
}

a:visited
{
    color:#FFFFFF;
}

a:hover 
{
    color:#FFFFFF;
}